@import "constants";

$inputBackground: rgb(238, 238, 238);

.manage-event-container {
  padding: 0 50px;
  margin-top: 50px;
  background-color: transparent;

  .btn {
    border-radius: 0;
  }

  input,
  textarea {
    border: none;
    border-radius: 0;

    &:focus {
      border: none;
    }
  }
}

.manage-title {
  background-color: #fff;
  z-index: 9999;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.manage-sidebar {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0;
  height: 100%;

  > button {
    transition: all 0.2s ease;

    &:hover {
      background: $color-dark-bg-hover;
      color: $color-dark-text;
    }
  }

  > button,
  > div {
    display: block;
    background: none;
    outline: none;
    border: none;
    padding: 20px 0;
    text-align: center;

    p,
    h1,
    h2,
    h3 {
      margin-bottom: 0;
    }
  }

  > button:not(:last-child),
  > div:not(:last-child) {
    border-bottom: 1px solid $color-light-gray;
  }
}

.event-preview {
  padding: 35px;
  margin-bottom: 50px;
  box-shadow: $box-shadow-large;
  border-radius: 15px;

  form > .row {
    margin-bottom: 10px;
  }
}

.hidden-initially {
  display: none;
}

.rdw-editor-toolbar {
  margin-bottom: 0;
}

.rdw-editor-main {
  background: $inputBackground;
  padding: 0 15px;
  min-height: 200px;
  blockquote {
    border-left: 5px solid $color-dark-bg;
    padding-left: 10px;
  }
}

.rdw-link-modal {
  height: auto;
  label {
    margin-bottom: 0;
  }
}
.rdw-link-modal-input {
  background-color: $inputBackground;
  height: auto;
}

.rdw-option-active {
  box-shadow: 0 0 0 2px $color-dark-bg;
}

.rdw-option-wrapper {
  border-radius: 0;
  height: 35px;
  width: 35px;
  transition: all 0.2s ease;
  &:hover {
    background: rgb(246, 246, 246);
    box-shadow: 0 0 0 2px lighten($color-dark-bg, 10);
  }
}

button:focus {
  outline: none;
}
.ag-cell {
  padding-right: 0px;
}
@import "manageExtra";
